.App {
  height: 656px;
  text-align: center;
  background: url(https://to-do-app-weld.vercel.app/bg-desktop-light.jpg)
    no-repeat;
  background-color: #f3f4f6;
  border-style: solide;
}

.mode {
  padding-top: 120px;
}

h1 {
  margin: auto;
  color: white;
  letter-spacing: 1.1rem;
  font-weight: 700;
  font-size: 30px;
}

.done {
  text-decoration: line-through;
}
.task button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  width: 6rem;
  height: 2rem;
  transition: all 0.5s;
  margin-right: 3px;
}
.add button {
  padding: 2px;
  border-radius: 0 2px 2px 0;
  background: transparent; 
  color: white;
  /* border: 2px solid rgb(255, 255, 255); */
  border: none;
  border-radius: 4px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.box {
  width: 515px;
  height: 40px;
  border-radius: 0.25rem;
  border: none;
  margin-bottom: 30px;
}

.task {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  border-radius: 6px;
  border: none;
  margin: 12px auto;
  background: linear-gradient(
    90deg,
    rgb(158, 158, 221) 20%,
    #bf58f3 40%
  );
  
  padding: 5px 5px;
}


